body{
    color:#ffffff;
    text-align: center;
    font-size: 60px;
    background-color:#ffc700;
    background-image: url("foto1.png");
    background-size: cover;
}

p{color:#ffffff;
  text-align: center;
}

.topo{
    width: 25%;
    border: solid red 1px;
    display: flex;
    flex-direction: row;
}

